body::before{
    display: block;
    content: '';
    height: 60px;
}
    $enable-grid-classes: false;
    $enable-cssgrid: true;

@media(min-width:768px){
    .news{
        width: 50%;
    }
}
@media(min-width:992px){
    .news{
        max-width: 500px;
    }
}

.card-full{
    height: 100%;
}
.btn1{
    position: absolute;
    bottom: 25px;

}
.pb-special {
    padding-bottom: 4rem !important;
  }

#map {
    width: 100%;
    height: 100%;
}
.mapboxgl-canvas{
border-radius: 15px;
}
